[Fonte dos dados](https://www.kaggle.com/datasets/jimmyyyyyyy/dengue-in-brazil-2012-2021)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# **Dados do Brasil**

Informaçoes que podem ser retiradas :



1.   Numero de caso pela população do pais
2.   Numero de caso pela precipitação total no pais

In [101]:
df_br = pd.read_csv('./Brazil_Dengue_Model_Data_w_pop.csv')
df_st = pd.read_csv('./State_Dengue_Model_Data_w_pop.csv')
data = pd.read_csv('./casos_dengue.csv')

C:\Users\debor\AppData\Local\Temp\ipykernel_27932\4237133503.py:3: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./casos_dengue.csv')

In [102]:
data[data['NU_ANO'] == 2019]

       ID_AGRAVO NU_ANO      SG_UF NU_IDADE_N CS_SEXO        CS_RACA ID_PAIS
8817      Dengue   2019    Sergipe        1.0       F         Branca  Brasil
8818      Dengue   2019    Sergipe       35.0       M          Parda  Brasil
8819      Dengue   2019    Sergipe       35.0       M          Parda  Brasil
8820      Dengue   2019    Sergipe       25.0       M          Parda  Brasil
8821      Dengue   2019    Sergipe       10.0       M          Parda  Brasil
...          ...    ...        ...        ...     ...            ...     ...
917499    Dengue   2019  São Paulo       62.0       M  Não Declarado  Brasil
917500    Dengue   2019  São Paulo       53.0       F  Não Declarado  Brasil
917501    Dengue   2019  São Paulo       24.0       F         Branca  Brasil
917502    Dengue   2019  São Paulo       53.0       M         Branca  Brasil
917503    Dengue   2019  São Paulo        2.0       M         Branca  Brasil

[210350 rows x 7 columns]

In [55]:
data

        ID_AGRAVO NU_ANO      SG_UF NU_IDADE_N CS_SEXO CS_RACA ID_PAIS
0          Dengue   2018    Paraiba       22.0       F   Parda  Brasil
1          Dengue   2018    Paraiba       35.0       M   Parda  Brasil
2          Dengue   2018    Paraiba       44.0       M   Parda  Brasil
3          Dengue   2018    Paraiba        3.0       M  Branca  Brasil
4          Dengue   2018    Paraiba       10.0       F  Branca  Brasil
...           ...    ...        ...        ...     ...     ...     ...
1048570    Dengue   2019  São Paulo       46.0       F  Branca  Brasil
1048571    Dengue   2019  São Paulo       23.0       M  Branca  Brasil
1048572    Dengue   2019  São Paulo       70.0       F  Branca  Brasil
1048573    Dengue   2019  São Paulo       24.0       M  Branca  Brasil
1048574    Dengue   2019  São Paulo       26.0       F  Branca  Brasil

[1048575 rows x 7 columns]

In [60]:
df_st[df_st['Year']==2019]['Cases'].sum()

2265740

In [84]:
df_st[df_st['Year']==2019]['Min_Tmp'].mean()

19.867037037037036

In [103]:
df_st[df_st['Year']==2018].pivot_table(values=['Min_Tmp','Mean_Tmp'],aggfunc='mean')

ValueError: No group keys passed!

In [104]:
df_st[['Year','State']]

     Year      State
0    2012       Acre
1    2013       Acre
2    2014       Acre
3    2015       Acre
4    2016       Acre
..    ...        ...
253  2017  Tocantins
254  2018  Tocantins
255  2019  Tocantins
256  2020  Tocantins
257  2021  Tocantins

[258 rows x 2 columns]

In [5]:
df_br.head(10)

,Year,State,Mean_Tmp,Min_Tmp,Max_Tmp,Percipitation,Change_Tmp,State_ID,Cases,Region,State_Area(km2),Population
0,2012,Brazil,25.56,20.18,31.00,1671.54,10.82,NaN,684,NaN,NaN,193946886
1,2013,Brazil,25.50,20.25,30.79,1837.01,10.54,NaN,2011699,NaN,NaN,201032714
2,2014,Brazil,25.67,20.36,31.02,1748.98,10.66,NaN,962070,NaN,NaN,202768562
3,2015,Brazil,25.97,20.58,31.41,1590.47,10.83,NaN,2388234,NaN,NaN,204450649
4,2016,Brazil,25.84,20.46,31.28,1618.78,10.82,NaN,2302908,NaN,NaN,206081432
5,2017,Brazil,25.77,20.42,31.17,1656.21,10.75,NaN,518772,NaN,NaN,207660929
6,2018,Brazil,25.59,20.32,30.91,1804.91,10.59,NaN,478542,NaN,NaN,208494900
7,2019,Brazil,25.94,20.57,31.36,1688.75,10.79,NaN,2265740,NaN,NaN,210147125
8,2020,Brazil,25.93,20.55,31.37,1728.40,10.82,NaN,1477825,NaN,NaN,211755692
9,2021,Brazil,25.58,20.26,30.94,1781.37,10.68,NaN,630,NaN,NaN,213317639

In [6]:
df_br.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             10 non-null     int64
 1   State            10 non-null     object
 2   Mean_Tmp         10 non-null     float64
 3   Min_Tmp          10 non-null     float64
 4   Max_Tmp          10 non-null     float64
 5   Percipitation    10 non-null     float64
 6   Change_Tmp       10 non-null     float64
 7   State_ID         0 non-null      float64
 8   Cases            10 non-null     int64
 9   Region           0 non-null      float64
 10  State_Area(km2)  0 non-null      float64
 11  Population       10 non-null     int64
dtypes: float64(8), int64(3), object(1)
memory usage: 1.1+ KB

Remover colunas com valores nulos

In [7]:
df_br.drop(['State_ID','Region','State_Area(km2)'],axis = 1,inplace=True)
df_br.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           10 non-null     int64
 1   State          10 non-null     object
 2   Mean_Tmp       10 non-null     float64
 3   Min_Tmp        10 non-null     float64
 4   Max_Tmp        10 non-null     float64
 5   Percipitation  10 non-null     float64
 6   Change_Tmp     10 non-null     float64
 7   Cases          10 non-null     int64
 8   Population     10 non-null     int64
dtypes: float64(5), int64(3), object(1)
memory usage: 852.0+ bytes

In [8]:
df_br.describe()

,Year,Mean_Tmp,Min_Tmp,Max_Tmp,Percipitation,Change_Tmp,Cases,Population
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000e+01,1.000000e+01
mean,2016.50000,25.735000,20.395000,31.125000,1712.642000,10.730000,1.240710e+06,2.059657e+08
std,3.02765,0.177216,0.143778,0.221573,81.277256,0.106145,9.661842e+05,5.731460e+06
min,2012.00000,25.500000,20.180000,30.790000,1590.470000,10.540000,6.300000e+02,1.939469e+08
25%,2014.25000,25.582500,20.275000,30.955000,1660.042500,10.665000,4.885995e+05,2.031891e+08
50%,2016.50000,25.720000,20.390000,31.095000,1708.575000,10.770000,1.219948e+06,2.068712e+08
75%,2018.75000,25.907500,20.527500,31.340000,1773.272500,10.820000,2.202230e+06,2.097341e+08
max,2021.00000,25.970000,20.580000,31.410000,1837.010000,10.830000,2.388234e+06,2.133176e+08

Dados dos Estados

In [9]:
df_st = pd.read_csv('./State_Dengue_Model_Data_w_pop.csv')

In [14]:
df_st.head(10)

,Year,State,Mean_Tmp,Min_Tmp,Max_Tmp,Percipitation,Change_Tmp,State_ID,Cases,Region,State_Area(km2),Population
0,2012,Acre,25.74,20.48,31.05,1851.90,10.57,12.0,22,N,164124.0,758786
1,2013,Acre,25.61,20.40,30.86,1909.14,10.46,12.0,9229,N,164124.0,776463
2,2014,Acre,25.78,20.57,31.04,2243.00,10.47,12.0,36795,N,164124.0,790101
3,2015,Acre,26.22,20.88,31.62,1895.83,10.74,12.0,14320,N,164124.0,803513
4,2016,Acre,26.16,20.66,31.71,1874.84,11.05,12.0,9237,N,164124.0,816687
5,2017,Acre,26.03,20.47,31.64,2018.02,11.17,12.0,5283,N,164124.0,829619
6,2018,Acre,25.60,20.26,30.99,2051.84,10.73,12.0,13017,N,164124.0,869265
7,2019,Acre,25.96,20.62,31.36,2100.00,10.74,12.0,17215,N,164124.0,881935
8,2020,Acre,26.18,20.85,31.57,1846.16,10.72,12.0,14130,N,164124.0,894470
9,2021,Acre,26.08,20.76,31.45,1949.34,10.69,12.0,82,N,164124.0,906876

In [40]:
df = df_st.groupby('State').count()['Year']
df[df<10]

State
Amapa                8
Espirito Santo       9
Maranhao             9
Para                 9
Paraiba              9
Piaui                9
Rio De Janeiro       9
Rio Grande Do Sul    9
Roraima              9
Santa Catarina       9
Sergipe              9
Name: Year, dtype: int64

In [39]:
df = df_st.groupby('Year').count()['State']
df[df<27]

Year
2012    23
2021    19
Name: State, dtype: int64

In [33]:
df_st[20:30]

,Year,State,Mean_Tmp,Min_Tmp,Max_Tmp,Percipitation,Change_Tmp,State_ID,Cases,Region,State_Area(km2),Population
20,2013,Amapa,26.63,22.35,30.96,2714.47,8.61,16.0,2294,N,142829.0,734996
21,2014,Amapa,26.52,22.14,30.95,2365.25,8.81,16.0,2604,N,142829.0,750912
22,2015,Amapa,26.80,22.32,31.33,2488.43,9.01,16.0,4434,N,142829.0,766679
23,2016,Amapa,26.89,22.66,31.17,2440.85,8.51,16.0,3550,N,142829.0,782295
24,2017,Amapa,26.67,22.48,30.91,2464.41,8.43,16.0,1468,N,142829.0,797722
25,2018,Amapa,26.51,22.38,30.70,2750.90,8.32,16.0,1422,N,142829.0,829494
26,2019,Amapa,26.75,22.47,31.07,2452.59,8.60,16.0,915,N,142829.0,845731
27,2020,Amapa,26.83,22.50,31.20,2259.45,8.70,16.0,142,N,142829.0,861773
28,2012,Amazonas,26.87,22.27,31.52,2494.74,9.25,13.0,12,N,1559148.0,3590985
29,2013,Amazonas,26.95,22.44,31.51,2602.14,9.07,13.0,23947,N,1559148.0,3807921

In [16]:
df_st.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             258 non-null    int64
 1   State            258 non-null    object
 2   Mean_Tmp         258 non-null    float64
 3   Min_Tmp          258 non-null    float64
 4   Max_Tmp          258 non-null    float64
 5   Percipitation    258 non-null    float64
 6   Change_Tmp       258 non-null    float64
 7   State_ID         258 non-null    float64
 8   Cases            258 non-null    int64
 9   Region           258 non-null    object
 10  State_Area(km2)  258 non-null    float64
 11  Population       258 non-null    int64
dtypes: float64(7), int64(3), object(2)
memory usage: 24.3+ KB

In [17]:
df_st.drop(['State_ID','State_Area(km2)'],axis = 1,inplace=True)

# **Atributos**

- Year (Anos) - Anos entre 2012 e 2021

- State - Podendo ser o pais, no caso, Brasil ou os estado brasileiros

- Mean_Temp - Temperatura média em graus Celsius

- Min_Temp - Temperatura mínima em graus Celsius

- Max_Temp - Temperatura máxima em graus Celsius

- Percipitation - Percipitação anual dada em milímetros

- Change_Tmp - Max_Tmp menos Min_Temp em Graus Celsius

- Cases - Número de Casos de Dengue Registrados

- Region - Macroregiões do Brasil: Norte (N), Nordeste (NE), Centro-Oeste (CO), Sudeste (SE), Sul (S)

- State_Area(km2) - Área do Estado / Área de uma Unidade Federativa Dada em Quilômetros ao Quadrado

- Population - Estimativa da População Total do país ou Unidade Federativa